/* generic */
*{
    margin: none;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color:#012c63;
    /* background-color: #00aeefbd; */
}
a{
    text-decoration: none;
    color:#012c63;
    display: block;
}

p{
    font-weight: 700;
    color: white;
    font-size: 1.2rem;
}


/* custom */
.flex{
    display: flex;
}

.flex-reverse{
    flex-direction: column;
}

.content-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

.align-top{
    position: relative;
    bottom:20px;
}

.txt-align{
    text-align: center;
}

.pad-top-twenty{
    padding-top:20px
}


.pad-bottom-twenty{
    padding-bottom:20px
}

.pad-right{
    padding-right: 20px
}


.box{
    width: 100%;
    height: 4rem;
}



/* page-wise */

#marketing{
    color:#00aeefbd;
    text-decoration:4px underline;
    text-underline-offset: 20px;
    text-decoration-color: #00aeefbd;
}
#pricing-page{

}


/* feature wise */
.navigation-bar{
    background-color: transparent;
    height: 6rem;
    width: 100%;
    border-bottom: 1px solid #dddddd;
}

.navigation-logo{
    width: 20rem;
    background-image: url(random\ logo.gif);
    background-size: cover;
    height: 100%;
}

.navigation-menu{
    width: 70%;
}

.navigation-menu a{
    padding-right: 5rem;
    font-size: 1rem;
    color: #808080;
}


.navigation-icons i{
    padding-right: 1rem;
    font-size: 1.2rem;
}
.column-left,.column-right{
        background-color: #21aaff;
        height: 55rem;
        width: 23rem;
        
}
.column-middle{
    width: 100%;
}